.spinner{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.pinning{
    font-size: 60px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}